$osc-icon-font-family: "osc" !default;
// $icomoon-font-path: "~@/../node_modules/osc-style/style_variables/fonts" !default;
$osc-icon-font-path: "~osc-style/style_variables/fonts" !default;

$osc-icon-arrow1-down: "\e900";
$osc-icon-arrow1-left: "\e901";
$osc-icon-arrow1-right: "\e902";
$osc-icon-arrow1-up: "\e903";
$osc-icon-arrow2-down: "\e904";
$osc-icon-arrow2-left: "\e905";
$osc-icon-arrow2-right: "\e906";
$osc-icon-arrow2-up: "\e907";
$osc-icon-bell-fill: "\e908";
$osc-icon-bell-line: "\e909";
$osc-icon-cancel: "\e90a";
$osc-icon-check: "\e90b";
$osc-icon-complated: "\e90c";
$osc-icon-delete: "\e90d";
$osc-icon-drawer: "\e90e";
$osc-icon-edit: "\e90f";
$osc-icon-error: "\e910";
$osc-icon-info: "\e911";
$osc-icon-inprogress: "\e912";
$osc-icon-logo: "\e913";
$osc-icon-pin-fill: "\e914";
$osc-icon-pin-line: "\e915";
$osc-icon-plus: "\e916";
$osc-icon-plusminus: "\e917";
$osc-icon-reflash: "\e918";
$osc-icon-reserved: "\e919";
$osc-icon-search: "\e91a";
$osc-icon-systeminfo: "\e91b";
$osc-icon-table-next: "\e91c";
$osc-icon-table-prev: "\e91d";
$osc-icon-user: "\e91e";
$osc-icon-view-max: "\e91f";
$osc-icon-view-middle: "\e920";
$osc-icon-view-minimum: "\e921";
$osc-icon-was: "\e922";
$osc-icon-x: "\e923";
