/*
OSC - FONT
v 1.1.9
date: 2018. 10. 17
*/

// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  font-display: block;
  src: local('Spoqa Han Sans Regular'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Regular.woff2') format('woff2'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff') format('woff'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Regular.woff') format('woff'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansRegular.ttf') format('truetype');
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  font-display: block;
  src: local('Spoqa Han Sans Bold'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansBold.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Bold.woff2') format('woff2'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansBold.woff') format('woff'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Bold.woff') format('woff'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansBold.ttf') format('truetype');
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  font-display: block;
  src: local('Spoqa Han Sans Light'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansLight.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Light.woff2') format('woff2'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansLight.woff') format('woff'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Light.woff') format('woff'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansLight.ttf') format('truetype'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  font-display: block;
  src: local('Spoqa Han Sans Thin'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansThin.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Thin.woff2') format('woff2'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansThin.woff') format('woff'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Thin.woff') format('woff'),
  // url('https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans/SpoqaHanSansThin.ttf') format('truetype'),
  url('~osc-style/style_variables/fonts/Spoqa_Han_Sans_Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-display: block;
  src: local('NotoSansKR-Regular'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Regular.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Regular.woff') format('woff'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-display: block;
  src: local('NotoSansKR-Bold'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Bold.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Bold.woff') format('woff'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  font-display: block;
  src: local('NotoSansKR-Black'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Black.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Black.woff') format('woff'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-display: block;
  src: local('NotoSansKR-Light'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Light.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Light.woff') format('woff'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-display: block;
  src: local('NotoSansKR-Medium'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Medium.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Medium.woff') format('woff'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  font-display: block;
  src: local('NotoSansKR-Thin'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Thin.woff2') format('woff2'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Thin.woff') format('woff'),
  url('~osc-style/style_variables/fonts/NotoSansKR-Thin.ttf') format('truetype');
}

.font-spoqa-han-sans {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

.font-noto-sans-kr {
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 55px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
  font-weight: bold;
}

h6 {
  font-size: 24px;
}

h7 {
  font-size: 20px;
}

h8 {
  font-size: 18px;
}

.subtitle-1 {
  font-size: 16px;
}

.subtitle-2 {
  font-size: 14px;
}

.body-1 {
  font-size: 14px;
}

.body-2 {
  font-size: 12px;
  font-weight: bold;
}

.body-3 {
  font-size: 12px;
}

.caption {
  font-size: 10px;
}