.Footer
  .container
    .row.FWidth
      .col
        span.line
          a(href="http://osci.kr/main.php").link Open Source Consulting
        span.line
          a(href="https://ko-kr.facebook.com/osckorea/").link Facebook
        span.line
          a(href="https://tech.osci.kr/").link Blog
        span.line
          a(href="https://www.npmjs.com/package/osc-style").link NPM
        span
          a(href="https://github.com/OpenSourceConsulting/osc-style").link GitHub
        div.MBottom
          p.MTop This package is used and produced by the R &amp; D team of Open Source Consulting.
          span.MTop Code licensed 
          a(href="https://github.com/OpenSourceConsulting/osc-style/blob/master/LICENSE").link MIT
          |.