extends ../layouts/pages
block append head
	block title
		- var title='OSC-STYLE';

block content
	include ../components/header.pug
	section
		.container
			.row
				.col-12
					h1 OpenSourceConsulting UI kit
					small Last revision : 2018. 08. 13.
	section
		.container
			.row
				.col-12
					p (주)오픈소스컨설팅에서 자체 웹앱 개발시 사용되는 기본적인 디자인 자료입니다. 오픈 소스로 공개되었으며 자유롭게 사용하셔도 됩니다. 보다 자세한 내용은 아래 본문을 확인해주세요.
				.col-12
					ul
						li 
							a(href="https://www.npmjs.com/package/osc-style") NPM
							span  패키지로 배포되어 있으며 손쉽게 설치가 가능하고 헤당 링크로 이동해 설치 방법을 확인할 수 있습니다.
						li
							a(href="https://spoqa.github.io/spoqa-han-sans/en-US/" target="_blank") 스포카 한 산스(SpoqaHanSans) 
							span 폰트를 기본으로 사용합니다.
