// Last revision : 2018. 08. 01.
@mixin lineMiddle {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
}

.fontBox {
  .fontH1 {
    @include lineMiddle;
    height: 100px;
  }
  .h1Small {
    height: 100px;
  }
  .fontH2 {
    @include lineMiddle;
  }
  .fontH3 {
    @include lineMiddle;
  }
  .fontH4 {
    @include lineMiddle;
  }
  .fontH5 {
    @include lineMiddle;
  }
  .fontH6 {
    @include lineMiddle;
  }
  .fontH7 {
    @include lineMiddle;
  }
  .fontH8 {
    @include lineMiddle;
  }
  .fontS1 {
    @include lineMiddle;
    height: 50px;
  }
  .fontS2 {
    @include lineMiddle;
    height: 50px;
  }
  .fontB1 {
    @include lineMiddle;
    height: 50px;
  }
  .fontB2 {
    @include lineMiddle;
    height: 50px;
  }
  .fontB3 {
    @include lineMiddle;
    height: 50px;
  }
  .fontC1 {
    @include lineMiddle;
    height: 50px;
  }
}

.fontLast {
  margin-bottom: 100px;
}

.rightSmall {
  @include lineMiddle;
  font-size: 15px;
}

.subSmall {
  height: 50px;
}