// Last revision : 2018. 08. 17.
@import './variable';
body {
  .title {
    margin: 50px 0;
    padding: 0;
    .headerH1 {
      color: $fontColorBlack;
    }
    .headerSmall {
      color: $fontColorBlack;
      font-size: 10px;
    }
  }
  .made {
    margin-bottom: 50px;
  }
}

.example {
  background-color: #fafafa;
  padding: 1.5rem;
  border-radius: 5px;
  margin: 1.25rem 0;
  border: 1px solid #e6e6e6;
}

pre {
  margin-bottom: 0 !important;
}

@import './color';
@import './font';
@import './icon';
@import './header';