@mixin iconBox {
  width: 50px;
  display: inline-block;
  position: relative;
}
@mixin className {
  position: relative;
  @include inputStyle;
}

.sectionLayout {
  .iconContainer {
    .rowLayout {
      text-align: center;
      flex-direction: row;
      position: relative;
      margin: 0 auto;
      .colFont {
        font-size: 20px;
        h2 {
          padding: 30px;
        }
      }
      .iconCard {
        display: inline-block;
        margin: 10px auto;
        border-radius: 10px;
        border: 1px solid #E3E5EA;
        overflow: hidden;
        height: 50px;
        .fontStyle {
          font-size: 25px;
        }
        .FontClassName {
          @include className;
          top: 6px;
          width: 170px !important;
        }
        .fontIconBox {
          @include iconBox;
          top: 12px;
        }
        .OSclassName {
          @include className;
          top: -5px;
          width: 135px !important;
        }
        .OSiconBox {
          @include iconBox;
          top: 6px;
        }
      }

      // .centos {
      //   @include osc-icon('centos');
      // }
      // .debian {
      //   display: inline-block;
      //   width: 35px;
      //   height: 35px;
      //   background-image: url(osc-icon('debian'));
      //   background-position: center;
      //   background-size: contain;
      //   background-repeat: no-repeat;
      // }
    }
  }
}
.borderNone {
  border: none;
}